[submodule "subprojects/clay"]
	path = subprojects/clay
	url = https://github.com/nicbarker/clay
[submodule "subprojects/raylib"]
	path = subprojects/raylib
	url = https://github.com/raysan5/raylib
[submodule "subprojects/freetype"]
	path = subprojects/freetype
	url = https://github.com/freetype/freetype
